*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    display: flex;
    align-items: center;
    background-color: #333;
    color: #fff;
    padding: 20px 20px;
}

header img{
    width: 55px;
    height: 55px;
    border-radius: 50%;
    margin-right: auto;
}
nav{
     border: 2px solid #bd3030;
}

.menu{
    display: flex;
    list-style: none;
    gap: 10px;
}

a{
    color: #fff;
    text-decoration: none;
    padding: 5px 15px;
    background-color: aqua;
    border-radius: 25px;
    
}

/* Ocultar checkbox */
#menu-toggle{
    display: none;
    border: 2px solid #bd3030;
}

/* Icono hamburguesa */
.menu-icon{
    display: none;
    font-size: 30px;
    cursor: pointer;
    margin-left: auto;
    border: 2px solid #bd3030;
}

@media (max-width:700px) {
    .menu{
        position: fixed;
        flex-direction: column;
        right: -124px;
        border: 2px solid #bd3030;

    }

    #menu-toggle:checked ~ nav .menu{
        right: 0;
    }

    .menu-icon{
        display: block;
        z-index: 1;
    }
    
}